<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SECRET PAGE</title>
</head>
<body>

<h1>EDIT</h1>

    <form action="/secret/<%=media._id%>?_method=PUT" method="POST">
        TITLE: <input type="text" name="title" value="<%=media.title%>"/>
        TYPE: <input type="text" name="type" value="<%=media.type%>"/>
        <input type="submit"/>
    </form>
    
</body>
</html>