<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SECRET PAGE</title>
</head>
<body>

<h1>NEW</h1>

    <form action="/secret" method="POST">
        TITLE: <input type="text" name="title"/>
        MEDIA TYPE: <input type="text" name="type"/>
        <input type="submit"/>
    </form>
    
</body>
</html>